@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';
@use '/src/styles/mixins/fontsize';

.compareChart {
  @include flexbox.columnFlexbox('center', 'center');
  height: calc(100vh - 60px);

  .title {
    @include fontsize.titleMideum;
    margin: 0;
  }

  .contentsWrap {
    width: 100%;
  }

  .buttonWrap {
    margin: 100px 0;
  }

  @include responsive.mobileOnly {
    .contentsWrap {
      grid-template-columns: repeat(2, 1fr);
    }

    .itemList {
      margin: 30px 10px 0;

      &:first-child,
      &:nth-child(2) {
        margin-top: 50px;
      }
    }

    .buttonWrap {
      margin: 50px 0;
    }
  }
}
